::ng-deep .mat-mdc-list-option:hover .mdc-list-item__content .mat-mdc-list-item-unscoped-content {
  color: #CD3C3C;
}

.participant-box {
  display: flex;
  background-color: #535050;
}

.participant-name {
    border: 1px solid white; 
    color: white;
    height: 20px; 
    width: 180px; 
    padding: 0; 
    margin: 0; 
    text-align: center;
}