.preview-matches {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.match-title {
    text-align: center;
    font-weight: bold;
    border: 1px purple solid;
}

.match-time {
    text-align: center;
    padding-top: 5px;
    font-size: small;
    color: #CDCBCB;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
}

.side {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.winners {
    border: 1px green solid;
}

.losers {
    border: 1px red solid;
}

.match-level {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.match-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

