<div *ngIf = "preview" class = "preview-matches">
    <div *ngFor = "let match of previewMatches" class = "preview-match">
        <p class = "match-title">{{match.matchTitle}}</p>
        <app-participants [matchId] = "match.matchId"></app-participants>
        <p class = "match-time">{{match.matchStart | date : "h:mm a, MMM d y  "}}</p>
    </div>
</div>

<div *ngIf = "!preview" class = "wrapper">
    <div class = "container">
        <div #slider  *ngIf = "hasWinners" class = "winners side"
        (mousedown) = "startDragging($event, slider)"
        (mouseup) = "stopDragging()"
        (mouseleave) = "stopDragging()"
        (mousemove) = "moveEvent($event, slider)">
            <div *ngFor = "let level of winnersSide | keyvalue" class = "match-level">
                <div *ngFor = "let match of level.value" class = "match-box">
                    <div>
                        <p class = "match-title">{{match.matchTitle}}</p>
                        <app-participants [matchId] = "match.matchId"></app-participants>
                        <p class = "match-time">{{match.matchStart | date : "h:mm a, MMM d y  "}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class = "losers side" *ngIf = "hasLosers">
            <div *ngFor = "let level of losersSide | keyvalue" class = "match-level">
                <div *ngFor = "let match of level.value" class = "match-box">
                    <div>
                        <p class = "match-title">{{match.matchTitle}}</p>
                        <app-participants [matchId] = "match.matchId"></app-participants>
                        <p class = "match-time">{{match.matchStart | date : "h:mm a, MMM d y  "}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
