<span class="all-tournaments-link" (click)="showAllTournaments()">
    <<<
</span>
<div>
    <h1>{{tournament.title}}</h1>
    <i>{{tournament.tournamentId}} by {{tournament.creatorId}}</i> <br />
    {{tournament.description}}
</div>
<div>
    <h3>Participants</h3>
    <ul>
        <li *ngFor = "let participant of participants">
            {{participant.username}}
        </li>
    </ul>
</div>
<div>
    <ul>
        <li *ngFor = "let match of matches">
            <app-match [match] = match [ownerId] = "tournament.tournamentId" [tournamentParticipants] = "participants"></app-match>
        </li>
        <li *ngFor = "let match of newMatches">
            <app-match [match] = match [ownerId] = "tournament.tournamentId" [tournamentParticipants] = "participants" [isEditing]= "true"></app-match>
        </li>
        <button *ngIf = "currentUserId == tournament.creatorId" (click) = "makeMatch()">Make new match</button>
    </ul>
</div>
<button *ngIf = "currentUserId == tournament.creatorId" (click) = "editTournament(tournament.tournamentId)">Edit Tournament</button>
<button *ngIf = "currentUserId == tournament.creatorId" (click) = "deleteTournament(tournament.tournamentId)">Delete Tournament</button>