.wrapper {
    position: fixed;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1b1b;
    color: white;
}

.viewport {
    height: 900px;
}

.creator-link:hover {
    cursor: pointer;
    color: #CD3C3C;
}

.tournament-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-panel {
    background-color: #868383;
}

.full-panel:hover {
    background-color: #B8B7B7;
}

.header {
    padding-top: 5px;
    padding-bottom: 3px;
    margin: 0;   
}

.title {
    padding-top: 15px;
}

.host {
    font-style: italic;
    font-size: smaller;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-btn {
    color: green;
}

.leave-btn {
    color: red;
}

.add-btn {
    color: green;
}
.matches {
    padding-bottom: 200px;
}
.match {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.participants {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.panel-header {
    margin: 0;
    padding: 0;

    font-size: large;
    font-weight: bold;
}

.panel-title {
    flex: 1;
}

