<div class = "wrapper">
    <div class = "tournament-info">
        <button mat-icon-button class = "edit-btn" matTooltip = "Edit Tournament" [matTooltipShowDelay] = "700" [matTooltipHideDelay] = "300"><mat-icon>edit</mat-icon></button>
        <h1 class = "title header">{{tournament.title}}</h1>
        <p class = "host header">Hosted by <a class = "creator-link" (click) = "goToProfile(tournament.creatorId)">{{creatorUsername}}</a></p>

        <mat-accordion class = "participants">
            <mat-expansion-panel class = "full-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class = "panel-header">
                        Tournament Participants
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class = "center">
                    <button mat-icon-button *ngIf = "!isParticipating()" class = "join-btn" matTooltip = "Join Tournament" [matTooltipShowDelay] = "700" [matTooltipHideDelay] = "300" (click) = "joinTournament()"><mat-icon>person_add_alt_1</mat-icon></button>
                    <button mat-icon-button *ngIf = "isParticipating()" class = "leave-btn" matTooltip = "Leave Tournament" [matTooltipShowDelay] = "700" [matTooltipHideDelay] = "300" (click) = "leaveTournament()"><mat-icon>person_remove</mat-icon></button>
                    <app-participants [participantsList] = "participants"></app-participants>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>


    <div class = "matches-space">

            <div class = "matches" *ngFor = "let level of matches | keyvalue">
                <h1>Level: {{level.key}}</h1>
                <div *ngFor = "let match of level.value; let i = index;">
                    <app-match class = "match"  (deleteMatchEvent) = "this.getMatches()" [match] = "match.matchId ? match : emptyMatch" [creatorId] = "tournament.creatorId" [tournamentId]= "tournamentId" [matchIndex] = "i" [isEditing] = "match.matchId ? false : true"></app-match>
                </div>                
            </div>
    </div>
</div>