<div class = "wrapper" (keydown.escape) = "cancelEdit()">
    <span class="all-tournaments-link" (click)="showAllTournaments()"><<<</span>
    <div class = "displayTournament" *ngIf = "!isEditing" (dblclick) = "editTournament()">
        <h1>{{tournament.title}}</h1> 
        <button *ngIf = "!isParticipating()" (click) = "joinTournament()">Join tournament</button>
        <button *ngIf = "isParticipating()" (click) = "leaveTournament()">Leave tournament</button>
        <i>{{tournament.tournamentId}} by {{tournament.creatorId}}</i> <br />
        {{tournament.description}}
    </div>

    <div class = "editTournament" *ngIf = "isEditing" (keydown.enter) = "saveChanges()">
        <input type = "text" [(ngModel)] = "tournament.title">
        <input type = "text" [(ngModel)] = "tournament.description">
        <input type = "datetime-local" [(ngModel)] = "tournament.tournamentStart">
        <button (click) = "deleteTournament(tournament.tournamentId)">Delete Tournament</button>
    </div>

    <div (dblclick) = "editTournament()">
        <h3>Participants</h3>
        <ul>
            <li *ngFor = "let participant of participants">
                <button (click) = "removeParticipant(participant.userId)" *ngIf = "isEditing">X</button>     {{participant.username}}
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li *ngFor = "let match of matches">
                <app-match [match] = match [ownerId] = "tournament.tournamentId" [tournamentParticipants] = "participants"></app-match>
            </li>
            <li *ngFor = "let match of newMatches">
                <app-match [match] = match [ownerId] = "tournament.tournamentId" [tournamentParticipants] = "participants" [isEditing]= "true"></app-match>
            </li>
            <button *ngIf = "currentUserId == tournament.creatorId" (click) = "makeMatch()">Make new match</button>
        </ul>
    </div>
</div>