<mat-accordion class = "tournament">
    <mat-expansion-panel class = "full-panel" hideToggle>
        <mat-expansion-panel-header class = "panel-header">
            <mat-panel-title class = "panel-title" >
                <h1 (click) = "showTournament()" class = "tournament-link">{{tournament.title}}</h1>
            </mat-panel-title>
            <mat-panel-description class = "panel-description">
                {{tournament.tournamentStart | date : "MMM d y | h:mm a"}}                    
            </mat-panel-description>           
        </mat-expansion-panel-header>
        {{tournament.description}}
        <div class = "matches" *ngFor = "let match of matches">
            <app-match [match] = match></app-match>
        </div>
    </mat-expansion-panel>
</mat-accordion>
