<div>
    <h2>New Tournament</h2>
    <form [formGroup] = "tournamentForm" (submit) = "validateAndCreateTournament()">
      <div>
        <label>Title:</label>
        <input type = "text" formControlName = "title">
        <div *ngIf = "tournamentForm.get('title')?.hasError('required') && tournamentForm.get('title')?.touched" class="error-message">
          Title is required.
        </div>
      </div>
      <div>
        <label>Description:</label>
        <textarea type = "text" formControlName = "description"></textarea>
      </div>
      <div>
        <label>Start:</label>
        <input type = "datetime-local" formControlName = "tournamentStart">
      </div>
      <div>
        <label>Category:</label>
        <select formControlName = "category">
            <option *ngFor = "let category of categories" [value] = "category.categoryId">{{category.name}}</option>
        </select>
      </div>
      <div>
        <label>Accepting New Participants:</label>
        <input type = "checkbox" formControlName = "accepting">
      </div>
        
      <button mat-flat-button color = "accent" type="submit">Create</button>      
    </form>
  </div>
