.tournament {
    flex: 1;
    width: 80%;
}

.full-panel {
    background-color: #716F6F;
}

.full-panel:hover {
    background-color: #9A9898
}

.tournament-link:hover {
    color: #CD3C3C
}

.matches {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}