<nav class = "navbar">
    <div class = "links">
        <div class = "left">
            <button mat-icon-button (click) = "home()"><mat-icon svgIcon = "Logo"></mat-icon></button>
        </div>
        <div class = "right">
            <button mat-icon-button class = "icon-btn" matTooltip = "Profile" [matTooltipShowDelay] = "700" [matTooltipHideDelay] = "300" (click) = "profile()" *ngIf = "isLoggedIn"><mat-icon>assignment_ind</mat-icon></button>
            <button mat-icon-button class = "icon-btn" matTooltip = "Login" [matTooltipShowDelay] = "700" [matTooltipHideDelay] = "300" (click) = "login()" *ngIf = "!inLogin && !isLoggedIn"><mat-icon>login</mat-icon></button>
            <button mat-icon-button class = "icon-btn" matTooltip = "Logout" [matTooltipShowDelay] = "700" [matTooltipHideDelay] = "300" (click) = "logout()" *ngIf = "isLoggedIn"><mat-icon>exit_to_app</mat-icon></button>
        </div>
    </div>
</nav>
  