<div>
    <h1><span *ngIf = "!isEditing" (dblclick) = "startEditing()" (mouseenter) = "showDescription = true" (mouseleave) = "showDescription = false">{{match.matchTitle}}</span></h1>
    <p *ngIf = "showDescription && !isEditing">{{match.description}}</p>
    <input *ngIf = "isEditing" type = "text" [(ngModel)] = "match.matchTitle" (keydown.escape) = "cancelEditing()" (keydown.enter) = "saveEditing()" />
    <input *ngIf = "isEditing" type = "text" [(ngModel)] = "match.description" (keydown.escape) = "cancelEditing()" (keydown.enter) = "saveEditing()" />
        <ul *ngIf = "!isEditing">
            <li *ngFor = "let participant of participants">
                <p >{{participant.username}}</p>                
            </li>
        </ul>
        <div *ngIf = "isEditing">
            <div *ngFor = "let participant of participants; let pNum = index">
                <select [(ngModel)] = "participantIds[pNum].new" (change) = "hasChanged()">
                    <option *ngFor = "let tournamentParticipant of tournamentParticipants" [ngValue] = "tournamentParticipant.userId">{{tournamentParticipant.username}}</option>
                </select>
            </div>
        </div>
    <p><span *ngIf = "!isEditing">{{match.matchStart | date: "MM/dd/yyyy hh:mm a"}}</span></p>
    <input *ngIf = "isEditing" type = "datetime-local" [(ngModel)] = "match.matchStart" (keydown.escape) = "cancelEditing()" (keydown.enter) = "saveEditing()" />
</div>
