<div class = "wrapper">
    <div class = "container">
        <div *ngIf = "!isEditing" class = "match" (dblclick) = "startEditing()">
            <div>
                <p class = "match-title" [matTooltip] = "matchForm.get('description')?.value" >{{matchForm.get("title")?.value}}</p>
                <div class = "participant-box" *ngFor = "let participant of participants">
                    <div class = "participant-name">{{participant.username}}</div>
                    <div class = "winner"></div>
                </div>
                <p class = "match-time">{{match.matchStart | date : "h:mm a, MMM d y  "}}</p>
            </div>
        </div>

        <form [formGroup] = "matchForm" (ngSubmit) = "onSubmit()" *ngIf = "isEditing" class = "match">
            <button>Submit</button>
            <input matInput formControlName = "title" class = "match-title edit-input" placeholder = "Match Title">
            <input matInput formControlName = "description" class = "match-title edit-input" placeholder = "Match Description">  
            <div *ngIf = "participants" formArrayName = "participants">
                <div  class = "participant-box" *ngFor = "let participant of participantControls; let i = index;">
                    <mat-select class = "participant-name"  [formControlName] = "i">
                        <mat-option [value] = 0>No participant</mat-option>
                        <mat-option *ngFor = "let tournamentParticipant of tournamentParticipants" [value] = "tournamentParticipant.userId">{{tournamentParticipant.username}}</mat-option>                            
                    </mat-select>
                    <div class = "winner"></div>
                </div>                    
            </div>       
            <input formControlName = "time" class = "edit-input edit-time" type = "datetime-local">
        </form>
    </div>
</div>