.wrapper {
    width: 90%;
}

.container {
    width: 220px;
}

.match {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.match-title {
    text-align: center;
    font-weight: bold;
}

.participant-box {
    display: flex;
    background-color: #535050;
}

.participant-name {
    border: 1px solid white; 
    height: 20px; 
    width: 180px; 
    padding: 0; 
    margin: 0; 
    text-align: center;
}

.winner {
    border: 1px solid white; 
    height: 20px; 
    width: 20px; 
    padding: 0; 
    margin: 0; 
}

.match-time {
    text-align: center;
    padding-top: 5px;
    font-size: small;
    color: #CDCBCB;
}